I have installed Jupyter Notebbok while the first session with Sudhanshu and tried some coding but as of now that file is not available as i havent saved it.

In [1]:
'''Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line'''

a=list(range(2000,3200))
b=[]
for i in a:
    if (i%7==0) & (i%5!=0):
        b.append(i)    
    
else :
    print(b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
'''Write a Python program to accept the users first and last name and then getting them printed in
the the reverse order with a space between first name and last name.'''

firstname=input("Please enter FirstName:")
lastname= str(input('Please enter LastName:'))
print(lastname + ' ' + firstname)

Please enter FirstName:a
Please enter LastName:c
c a

In [3]:
'''Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3'''

diameter=12
radius=diameter/2
pi=3.14
volume=4/3*(pi)*(radius*radius*radius)
print(volume)

904.3199999999999

In [4]:
'''Write a program which accepts a sequence of comma-separated numbers from console and
generate a list'''

k=input()
l=k.split(',')
print(l)

1,2,3
['1', '2', '3']

In [5]:
'''Write a Python program to reverse a word after accepting the input from the user.'''

input_=input('Please provide a word:')
input_rev=input_[::-1]
print(input_rev)

Please provide a word:Katha Bharath
htarahB ahtaK

In [7]:
'''Create the below pattern using nested for loop in Python.'''

n =5
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(n, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [8]:
'''Write a Python Program to print the given string in the format specified'''

sentence='WE, THE PEOPLE OF INDIA, \n \t having solemnly resolved to constitute India into a SOVEREIGN,! \n \t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t \t and to secure to all its citizens'
print(sentence)

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN,!
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	 and to secure to all its citizens